<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Metor</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=test" type="text/javascript" /></script>
    <style type="text/css">
      h1.popup { font-size: 110%; display: inline; }
      span { font-size: 80%; color: gray;}
    </style>
    <script type="text/javascript">
    
    function initialize() {
      if (GBrowserIsCompatible()) {
          var map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(8, -66), 6);
          map.setUIToDefault();

        {% for station in stations %}
        var marker{{ forloop.counter }} = new GMarker(new GLatLng({{station.latitude}}, {{station.longitude}}));

        GEvent.addListener(marker{{ forloop.counter }}, "click", function() {
            var html = '<h1 class="popup">{{station.name}}</h1><br/>' + 
                       'Última sincronizacion: <br/>&nbsp;&nbsp;(no disponible)<br/>' + 
                       'Temperatura: <br/>' + 
                       '&nbsp;&nbsp;{{ station.last_temperature.value|floatformat  }} {{station.last_temperature.sensor.unit}} <span class="date">({{station.last_temperature.date}})</span> <br/>' + 
                       '<a href="#">Más</a>';
            marker{{ forloop.counter }}.openInfoWindowHtml(html);
        });

        map.addOverlay(marker{{ forloop.counter }});
        {% endfor %}
      }
    }

    </script>
  </head>

  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 800px; height: 600px"></div>
  </body>
</html>
