{% extends "base.html" %}

{% block extrahead %}
<script src="{{MEDIA_URL}}/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}/js/jquery.ui.datepicker-es.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jquery-ui-1.8.7.custom.css" type="text/css">

<script type="text/javascript">
    var interfaces = {};

    function update_windrose(interface_id) {
        var img_windrose = $('#img_windrose__' + interface_id);

        var begin_date = $('#input_windrose_begin__' + interface_id).val();
        var end_date = $('#input_windrose_end__' + interface_id).val();
        var granularity = $('#input_windrose_granularity__' + interface_id).val();

        img_windrose.attr('src',
                interfaces[interface_id].station.windrose_url +
                '?begin=' + begin_date +
                '&end=' + end_date +
                '&granularity=' + granularity
        );
    }

    function display_station(station_id, interface_id) {
        /* TODO: fix este DRY violation del url */
        $.getJSON('/json/stations/' + station_id + '/', function(station, status){
            interfaces[interface_id] = {};
            interfaces[interface_id].station = station;

            update_windrose(interface_id);
        });
    }

    function StationInterface(interface_id) {
        var select_station = $('#select_station__' + interface_id);
        var div_station_display = $('#div_station_display__' + interface_id);

        var input_windrose_begin = $('#input_windrose_begin__' + interface_id);
        var input_windrose_end = $('#input_windrose_end__' + interface_id);

        input_windrose_begin.val("");
        input_windrose_begin.datepicker({ dateFormat: 'yy-mm-dd' });

        input_windrose_end.val("");
        input_windrose_end.datepicker({ dateFormat: 'yy-mm-dd' });

        select_station.val("");

        select_station.change(function() {
                if (select_station.val() == "") {
                    div_station_display.hide();
                } else {
                    div_station_display.show();
                }

                display_station(select_station.val(), interface_id);
        });
    }

    $(function() {
            {% for id in display_ids %}
            var si_{{id}} = new StationInterface({{id}});
            {% endfor %}
    });
</script>
{% endblock %}

{% block content %}
{% for id in display_ids %}
<div id="div_station__{{id}}" style="width: 514px; border-style: solid; border-width: 1px; float: {% cycle 'left' 'right' %};">

    <form>
        <h3>Estación:</h3>
        <select id="select_station__{{id}}" style="width: 10em;">
            <option value="" selected />
            {% for station in stations %}
            <option value="{{station.stationId}}">{{station.name}}</option>
            {% endfor %}
        </select>
    </form>

    <div id="div_station_display__{{id}}" style="display: none;">
        {% comment %}
        ############################
        Display de la rosa de viento
        ############################
        {% endcomment %}

        <div id="div_windrose_display__{{id}}">
            <h4>Rosa del Viento</h4>

            <form>
                <ul>
                    Desde <input id="input_windrose_begin__{{id}}" type="text" style="width: 10em;">
                    hasta <input id="input_windrose_end__{{id}}" type="text" style="width: 10em;">
                </ul>
                <ul>
                    Granularidad:
                    <select id="input_windrose_granularity__{{id}}" style="width: 10em;">
                        <option value="60">1 minuto</option>
                        <option value="3600">1 hora</option>
                        <option value="86400" selected>1 día</option>
                    </select>
                </ul>
                <ul>
                    <a href="javascript:update_windrose({{id}})">Actualizar</a>
                </ul>
            </form>
            <img id="img_windrose__{{id}}" alt="Rosa de Viento"/>
        </div>

        {% comment %}
        #####################
        Display de los charts
        #####################
        {% endcomment %}
    </div>

</div>

{% endfor %}
{% endblock %}
